/* General {{{ */

:root {
  --background-color: oklch(100% 0 0);
  --text-color: oklch(21.34% 0 0);
  --de-emphasized-color: oklch(92.49% 0 0);
  --accent-color: oklch(79.71% 0.128 232.94);
  --shadow-color: oklch(94.91% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: oklch(30.52% 0 0);
    --text-color: oklch(100% 0 0);
    --de-emphasized-color: oklch(79.52% 0 0);
    --accent-color: oklch(40% 0.128 232.94);
    --shadow-color: oklch(17.76% 0 0);
  }
}

* {
  box-sizing: border-box;
}

* + * {
  margin-top: 1.4em;
}

body {
  font-family: New York, Georgia, serif;
  font-size: clamp(1.2rem, 0.9000rem + 1.3333vw, 1.6rem);
  line-height: 1.6;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  hyphens: auto;
  -webkit-hyphens: auto;
}

hr {
  border: none;
  font-size: 1.2em;
  margin-block: 1.5em 1em;
  text-align: center;
  line-height: 1;
  color: var(--text-color);
}

hr::before {
  content: "* * *";
}

/* }}} */

/* Headings {{{ */

h1, h2, h3, h4, h5, h6 {
  font-family: New York, Georgia, serif;
  margin-block: 0.5em 0px;
  line-height: 1.1;
}

h1,
h1 + p,
header details {
  text-align: center;
}

/* }}} */

/* Paragraphs {{{ */

p {
  margin: 0px;
}

p + p {
  text-indent: 4ch;
}

li + li {
  margin-block-start: 0;
}

.game-scene {
  max-inline-size: 55ch;
  margin: 0px auto;
  padding-inline: 2ch;
}

.game-scene:not([hidden]) {
  margin-block-end: 2em;
}

.game-scene p,
.game-scene button,
.game-scene hr {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in;
}

.game-scene .show {
  opacity: 1;
  visibility: visible;
}

/* }}} */

/* Links {{{ */

a:link,
a:active,
a:focus,
a:visited {
  color: currentColor;
}

a:hover {
  text-decoration-thickness: 0.1em;
}

/* }}} */

/* Images {{{ */

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  margin-block: 0;
  margin-inline: auto;
}

.header-image-wrapper {
  background-color: oklch(45.84% 0.255 280);
}

@media screen and (width >= 76em) {
  .header-image-wrapper {
    mask: url(images/eye.svg) no-repeat;
    mask-size: contain;
  }
}

/* }}} */

/* Details/Summary {{{ */

details {
  margin-bottom: 1em;
}

summary {
  font-weight: 700;
  cursor: pointer;
}

/* }}} */

/* Buttons {{{ */

button {
  padding: 1em;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 2px solid;
  cursor: pointer;
  box-shadow: 3px 3px 0 black;
}

button + button {
  margin: 1em 0 0 1em;
}

button:hover {
  color: var(--text-color);
  background-color: var(--accent-color);
}

button[disabled]:hover,
button[disabled] {
  cursor: not-allowed;
  color: #9d9d9d;
  border-color: currentColor;
}

button[disabled]:hover {
  background-color: var(--background-color);
}

button[data-target-id="restart"] {
  inline-size: 95px;
  text-align: left;
}

button[data-target-id="restart"]::after {
  content: "?";
}

button[data-target-id="restart"]:hover::after {
  content: "!";
}

.game-button--selected[disabled]:hover,
.game-button--selected:hover,
.game-button--selected {
  background-color: #f0f8ff;
}

/* }}} */

/* Notifications {{{ */

.notification {
  margin: 0;
  padding: 1em;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  font-size: 80%;
  opacity: 0;
  position: fixed;
  inset-block-start: -7em;
  inset-inline-end: 1em;
  transition: opacity 150ms, transform 200ms;
  box-shadow: 2px 2px 6px var(--de-emphasized-color);
}

.notification--active {
  opacity: 1;
  visibility: visible;
  transform: translateY(8em);
}

.notification--lower {
  transform: translateY(16em);
}

.notification__headline::before {
  content: "🎉 ";
}

/* }}} */

/* Achievements {{{ */

.achievements-list {
  max-inline-size: 25ch;
  margin-inline: auto;
  text-align: left;
  list-style-position: inside;
  padding-inline-start: 3em;
  margin-block-start: 0.5em;
}

.achievements-list:empty::after {
  content: "You got zilch.";
}

/* .achievement--max { */
/*   text-align: center; */
/*   inset-block-start: 50%; */
/*   inset-inline-start: 50%; */
/*   visibility: hidden; */
/* } */
/**/
/* .achievement--max.achievement--active { */
/*   transform: translate(-50%, -50%); */
/*   visibility: visible; */
/* } */
/**/
/* .achievement--max > * + * { */
/*   margin-top: 1em; */
/* } */

/* }}} */

/* vim: fdm=marker
 */
